.events {
  max-width: calc(var(--layout-max-width) * 0.75);
  margin: 0 auto;
  padding: 80px 32px;
}

.event {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 3fr 2fr;
  padding-bottom: 64px;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
}

.eventInfoTop {
  grid-column: 1 / -1;
  grid-row: 1;
}

.eventHeader {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  letter-spacing: var(--font-tracking-h3);
  font-family: var(--font-family-h3);
  text-transform: uppercase;
  color: var(--color-light-blue);
}

.eventTime {
  padding-top: 8px;
}

.eventMapLink {
  width: 100%;
  height: 240px;
  display: block;
  position: relative;
  margin-bottom: 8px;
}

.infoSection {
  padding-bottom: 16px;
}

.infoHeader {
  text-transform: uppercase;
  padding-bottom: 8px;
}

.infoLine {
  padding-bottom: 4px;
}

.contactInfo {
  margin: 8px 0;
  display: block;
}

.locationAddress {
  font-size: var(--font-size-caption);
  letter-spacing: var(--font-tracking-caption);
}



@media(max-width: 768px) {
  .event {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-auto-flow: row;
  }
}