.intro {
  position: relative;
  padding: 72px 16px;
  font-size: 20px;
  border-bottom: 1px solid #000;
}

.inner {
  max-width: var(--layout-max-width);
  width: 100%;
  margin: 0 auto;
}

.faqList {
  padding: 16px 0;
}

.faqQuestion {
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 8px;
}

.faqAnswer {
  margin: 0;
  line-height: 1.2;
  margin-bottom: 24px;
}