.inner {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.gridInner {
  max-width: calc(100% - calc(0.4 * var(--max-width)));
  width: 60%;
  padding-right: 16px;
}

.gridContainer {
  display: grid;
  grid-template-columns:
    minmax(0, auto)
    minmax(auto, calc(0.6 * var(--max-width)))
    calc(0.4 * var(--max-width))
    minmax(0, auto);
}

.video {
  border-bottom: 1px solid #000;
}

.videoInner {
  composes: inner;
  padding: 72px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  border-bottom: 1px solid #000;
  grid-row: 1;
  grid-column: 1 / -1;
}

.introInner {
  composes: inner;
  padding: 72px 0;
}

.signup {
  border-bottom: 1px solid #000;
  grid-row: 1 / span 4;
  grid-column: 3;
  height: 100%;
  max-width: calc(0.4 * var(--max-width));
  position: relative;
  padding-bottom: 16px;
}

.signupInner {
  position: sticky;
  top: 16px;
  margin-top: -16px;
  padding: 16px;
  border: 1px solid #000;
  background-color: #fff;
}

.details {
  border-bottom: 1px solid #000;
  grid-row: 2;
  grid-column: 1 / -1;
}

.detailsInner {
  composes: inner;
  padding: 24px 0;
}

.detailsLayout {
  composes: gridInner;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, auto);
  grid-auto-flow: dense;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.detailsCard {
  border: 1px solid #000;
  display: grid;
  grid-template-rows: 300px 1fr auto;
  background-size: cover;
  background-position: bottom;
  background-image: linear-gradient(
    225deg,
    red 0%,
    red 40%,
    blue 100%
  );
  background-attachment: fixed;
}

.detailsCardActions {
  padding: 16px;
  padding-top: 0;
}

.detailsCardLink {
  color: #fff;
  background-color: #000;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
}

.detailsCardText {
  padding: 16px;
  margin: 0;
}

.partners {
  border-bottom: 1px solid #000;
  grid-row: 3;
  grid-column: 1 / -1;
}

.partnersInner {
  composes: inner;
  padding: 48px 0;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partnerEntries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.social {
  border-bottom: 1px solid #000;
}

.socialInner {
  composes: inner;
  padding: 72px 0;
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
}

.twitterEmbed {
  border: 1px solid #000;
  width: 400px;
  height: 600px;
}

.instagramEmbed {
  border: 1px solid #000;
  width: 400px;
  height: 600px;
  position: relative;
}

@media (max-width: 1000px) {
  .signup {
    grid-row: 2;
    grid-column: 1 / -1;
    max-width: unset;
    height: unset;
    padding: 24px 0;
  }

  .signupInner {
    position: relative;
    top: unset;
  }

  .gridInner {
    max-width: unset;
    width: unset;
    padding-right: unset;
    }
  .details {
    grid-row: 3;
  }
  .partners {
    grid-row: 4;
  }
}