.action {
  border-bottom: 1px solid #000;
}

.actionEvents {
  padding-left: 40px;
}

.actionDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
}

.event {
  border-bottom: 1px solid #000;
}

.eventLocation {
  
}

.eventMapLink {
  width: 400px;
  height: 400px;
  display: block;
  position: relative;
}

.pageHeader {
  text-align: center;
}

.page {
  max-width: calc(var(--layout-max-width) + 64px);
  padding: 32px;
  margin: 0 auto;
}