.container {
  font-family: var(--font-family-copy);
  color: var(--font-color-on-light);
}

.container :global(#can_embed_form_inner h2) {
  font-size: var(--font-size-h3);
  letter-spacing: var(--font-tracking-h3);
  font-weight: var(--font-weight-h3);
  text-transform: uppercase;
  font-family: Roboto;
  padding-bottom: 16px;
  text-align: center;
}

.container :global(#can_embed_form input[type="submit"]) {
  background-color: var(--color-green);
  font-weight: var(--font-weight-button);
  border-radius: 8px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.4);
  padding: 12px 8px;
}

.container :global(#can_embed_form input[type="submit"]:hover) {
  background-color: var(--color-green);
}

.container :global(#can_embed_form a) {
  color: var(--color-green);
  text-decoration: underline;
}