.footer {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-blue);
  color: var(--color-light-blue);
}

.copyright {
  padding-bottom: 16px;
}

.disclaimer {
  padding-bottom: 16px;
  font-size: 14px;
  max-width: 640px;
  text-align: center;
}

.footerLink {
  margin-right: 16px;
  color: inherit;
}
  .footerLink:last-child {
    margin-right: 0;
  }