.outer {
  background-color: var(--color-dark-blue);
}

.inner {
  padding: 32px;
  padding-top: 0;
  max-width: var(--layout-max-width);
  margin: 0 auto;
}

.title {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  letter-spacing: var(--font-tracking-h1);
  line-height: var(--font-leading-h1);
  font-family: var(--font-family-h1);
  text-transform: uppercase;
  text-align: center;
  background-image: var(--color-gradient-3-right);
  background-position: center;
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitleParagraphs {
  padding-bottom: 16px;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  letter-spacing: var(--font-tracking-h3);
  line-height: 1.4;
  color: var(--color-light-blue);
  text-transform: uppercase;
}

@media(max-width: 800px) {
  .inner {
    padding: 16px 32px 48px;
  }
  .title {
    font-size: 48px;
    line-height: 1.2;
    padding-bottom: 24px;
  }
  .subtitleParagraphs {
    font-size: 24px;
  }
}